html{
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	
	
}

header {
	display:flex;
	justify-content: space-between;
	margin:26px;
	padding: 0;
	
}


#etsyHeaderleft{
	
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	
	
}

#etsyHeaderleft li:nth-child(1){
	margin-right: 37px;
}

.button {
	background-color: (52, 168, 196);
}


#etsyHeaderright {
	
	
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	line-height: 2px;

}


#etsyNavPanel {
	display: block;
	list-style-type: none;
	margin:0;
	overflow: hidden;
	border-top: 1px solid #b0e0e6;
	border-bottom: 1px solid #b0e0e6;
	line-height: 50px;
	
}

#etsyNavPanel li{

	display: inline;
	float:left;
	padding:0px 10px;
	
}

#container {

	background-color: rgb(250 249 245);

}


#column {

	display: inline-block;
	width: 300px;
	height: 700px;
	
	background-color: green;
}

#allCatagories {

	display: inline-block;
	width: 300px;
	height: 300px;
	list-style-type: none;

}

#allCatagories li:nth-child(1){
	margin-left: -14px;
}

a {

	text-decoration: none;
	color: black;
}

#shopLocation {

	display: inherit;
	width: 300px;
	height: 110px;
}

#itemType {

	display: inherit;
	width: 300px;
	height: 100px;
}

#priceRange {

	display: inherit;
	width:300px;
	height: 160px;
}

#colorfilter {

	display: inherit;
	width: 250px;
	height: 80px;
	padding-left: 5px;
	
}
#colorfilter li {
	list-style-type: none;
	height: 20px;
	width: 20px;
	border:1px solid beige;
	border-radius: 3px;
	display: inline-block;
	padding-left: 0px;
	margin-top: 12px;
	
}

#payopt {

	display: inherit;
	width: 300px;
	height: 70px;
}

#country {

	display: inherit;
	width: 250px;
	height: 50px;
}

#main-nav {
	
	float: right;
	width: 1110px;
	margin-top: -935px;
	margin-bottom: -850px;
	position: relative;

}

#nav-wrapper {
	margin-top: 18px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 30px;
	
}

.nav-right{
	
	
	display: inline-block;
}
.clearfix {

	padding: 0;
	margin: 0;
	white-space: nowrap;
	list-style-type: none;
	
}
.clearfix li {
	display: inline;
}

.clearfix2 {
	list-style-type: none;
	display: inline;
}

#picContainer{
	position: absolute;
	top:52px;
	width:1110px;
}

#picGallery {
	display: flex;
	flex-wrap: wrap;
}

#picGallery li{
	display: inline;
	height: 350px;
	width: 350px;
	border:1px solid black;
}

 
























